<h1>All Owners  </h1>

<ul>
  <% @owners.each do |owner| %>
  <li><%= link_to owner.name, owner_path(owner) %></li>
  <li><%= link_to 'Edit Owner', edit_owner_path(owner) %></li>
  <li><%= link_to 'Destroy Owner', owner, method: :delete %></li>
  <% end %>
</ul>

<%= link_to 'Create New Owner', new_owner_path %>
